Repository Bohdan2241/lolchamps: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css, npm run format:fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npm run lint:js"],
  "*.{css,ts,tsx}": ["npm run lint:css"],
  "*.{js,jsx,ts,tsx,json,md,html}": ["npm run format:fix"]
}

update config
  .prettierrc.json
Due: npm run format:fix

add husky
  .husky/pre-commit
Due: none

add husky, lint-stage, scripts
  package-lock.json
  package.json
Due: npm run format:fix

add workflows/linter
  .github/workflows/linter.yml
Due: none

change branch name
  .github/workflows/linter.yml
Due: none

add badges
  README.md
Due: npm run format:fix

ignore coverage
  .gitignore
Due: none

add test coverage badge
  README.md
Due: npm run format:fix

change coverage lib
  package-lock.json
  package.json
Due: npm run format:fix

add publish code coverage
  .github/workflows/linter.yml
Due: none

add coverage istanbul
  package-lock.json
  package.json
Due: npm run format:fix

change coverage to istanbul
  vite.config.ts
Due: npm run lint:js, npm run lint:css, npm run format:fix

rename step, remove double testing
  .github/workflows/linter.yml
Due: none

init codecov
  .github/workflows/tests.yml
  README.md
  package-lock.json
  package.json
  vite.config.ts
Due: npm run lint:js, npm run lint:css, npm run format:fix

update tests.yml
  .github/workflows/tests.yml
Due: none

use default reporter
  vite.config.ts
Due: npm run lint:js, npm run lint:css, npm run format:fix

add path to file
  .github/workflows/tests.yml
Due: none

add tests badge
  README.md
Due: npm run format:fix

fix config
  .github/workflows/tests.yml
Due: none

add airbnb config
  .eslintrc.json
  package-lock.json
  package.json
Due: npm run format:fix

remove named export
  src/enums/championLane.ts
  src/enums/championRole.ts
Due: npm run lint:js, npm run lint:css, npm run format:fix

add default export
  src/App.test.tsx
  src/main.tsx
  src/store.ts
Due: npm run lint:js, npm run lint:css, npm run format:fix

fix eslint errors
  .eslintrc.json
  .lintstagedrc.json
  src/Components/Card/index.tsx
  src/Components/GiantTitle/index.tsx
  src/Components/GiantTitle/style.ts
  src/Components/Reveal/style.ts
  src/Components/RoleButton/index.tsx
  src/Components/RoleButton/style.ts
  src/Pages/Champion/Sections/Overview.tsx
  src/Pages/Champion/index.tsx
  src/Pages/ChampionList/Components/Champion/index.tsx
  src/Pages/ChampionList/List/style.ts
  src/Pages/ChampionList/Nav/index.tsx
  src/Pages/ChampionList/Nav/style.ts
  src/Pages/ChampionList/index.tsx
  src/Pages/CreateTeam/Components/DraggableItem/index.tsx
  src/Pages/CreateTeam/Components/DraggableItem/style.ts
  src/Pages/CreateTeam/Map/index.tsx
  src/Pages/Home/index.tsx
  src/Pages/NotFound/style.ts
  src/Pages/RandomChampion/List/index.tsx
  src/Pages/RandomChampion/Nav/index.tsx
  src/Pages/RandomChampion/index.tsx
  src/assets/styles/style.ts
Due: npm run lint:js, npm run lint:css, npm run format:fix
